body {
    box-sizing: border-box;
    margin: 0; 
    font-family: 'Nunito', sans-serif;
}

/* INICIOOOOOOOOOOOO------------------------------------- */

.background-image{
    position: absolute;
    width: 100%;
    height: 270px;
    background: linear-gradient(180deg, #17172F 0%, rgba(74, 37, 77, 0.76) 100%);
}
.img-backgound{
    width: 100vw;
    height: 270px;
    opacity: 0.2;
}
.container-columns {
    display: grid;
    grid-template-columns: 32vw 42vw;
    grid-template-rows: 1fr  ;
    justify-content: center;
    overflow: hidden;
    gap:3vw;
    background:  #E5E5E5;
    padding-bottom: 20px;
} 
.first-column-container,
.second-column-container{  
    display: flex;
    flex-direction: column ; 
    gap:25px;
}
.container-box:nth-of-type(1){
    margin-top:20px;
}
 /*--------------------- Imagen de Portada ---------------------------------*/
.container-img{
    position: relative;
    margin: 170px auto 0;
} 
.img-film{     
    width: 28vw;
    min-width:280px ;
    border: 10px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.15);
} 
/*  ---------------------Contenedor título de la Película---------------------------------*/

.container-title{
    position: relative;
    margin-top: 160px;
    color: white;
}
.title-new,
.title{
    margin:15px 0;
    font-weight: 'bold';
    font-size: 30px;
}

.year-score{
    display: flex;
    flex-flow: row wrap ;
    justify-content: space-between;
    align-items: center;
} 
.year-film-new,
.year-film{
    width: 80px;
    height: 23px;
    margin: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: #1BC47D;
    border-radius: 8px;
}
.score-film-new,
.score-film{
    font-size: 25px;
    font-weight: 'bold';
}

.score-box > .fa-star{
    font-size: 18px;
}
/*  ---------------------Contenedores---------------------------------*/
.container-box{
    background-color: white;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px; 
    padding: 10px 25px 25px 20px; 
}

.title-box{
    font-size: 20px;
    color:#25254A;
}

.title-box::after{
    content: '';
    display: block;
    height: 5px;
    width: 8vw;    
    margin-top: 5px;
    background: #FF3060;
    border-radius: 20px;
}
.characters{
    max-height:650px ;
}
.vehicles{
    max-height:400px ;
}
.locations{
    max-height: 680px;
}
/*  --------------------- Scroll---------------------------------*/
.detail-content-box{
    overflow-y: scroll;
}

.detail-content-box::-webkit-scrollbar-track{
   /*  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    background-color: #ffffff;
}

.detail-content-box::-webkit-scrollbar{
    width: 5px;
    height:5px;
    background-color: #F5F5F5;
}

.detail-content-box::-webkit-scrollbar-thumb{
    background-color: #FF3060;
}
/*  --------------------- Detalles de contenedores---------------------------------*/

.locations-detail-box,
.vehicles-detail-box{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: 15px 0;
}
.characters-detail-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.details-container{
    display: grid;
    grid-template-columns: 150px 150px;
    gap:10px;
    overflow-x: hidden;

}
.locationsDetails,
.vehiclesDetails{
    padding: 0 15px;
    grid-template-columns: auto;
    overflow-x: hidden;
}
.details-container>.text{
    margin: 0;
    font-size: 15px
}

.span-name{
    color: rgb(90, 90, 90);
}

.span-black{
    color:black;
}
.text{
    color: rgb(90, 90, 90);
    font-size: 18px;
}
.filmaker{
    color: black;
    font-size: 20px;
}

.text-name{
    margin-top:10px ;
    margin-bottom: 0;
    grid-column: 1/3;
    font-size: 20px; 
    color: #0095F6;
}
.description{
    grid-column: 1/3;
}
.fa-crown,
.fa-play-circle{
    font-size: 25px;
    margin-right: 10px;
}
.fa-star,
.fa-crown{
    color:#FAB818;
}
.fa-play-circle{
    color: #0095F6;
}
.film{
    text-align: center;
    padding-bottom:10px;
}

.img-character-box{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    background: rgb(227, 205, 255)
} 
.img-character-box> .img-character {
    width: 120px;
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
}

.img-locations-box,
.img-vehicles-box{
    margin-left: auto;
    margin-right: auto;
}

.img-vehicles,
.img-locations{
    border-radius: 10px;
    width: 22vw;
    min-width: 250px;
}
/*  --------------------- Para que aparezcan los contenedores---------------------------------*/
#container-synopsis-show,
#container-title-show{
    display: none;
}
#container-title,
#container-synopsis{
    display:block;
}