body {
    margin: 0;
    box-sizing: border-box;
    background: rgba(227, 227, 227, 1);
    font-family: 'Nunito', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
}

.col-1 {
    background: palevioletred;
    grid-column: 1 / 2;
}