/*Inicio de medias--------------------------------------*/

@media screen and (max-width:1024px) {
    .logo_imagen {
        max-width: 100%;
        height: 40px;
        padding-left: 80px;
    }
    .nav-menu-list {
        padding-right:50px;
    }
    .nav-menu-link {
        font-size: 18px;
    }
    /*Para el Silder-------------------------------------*/
    .contenido-slider>div {
        width: 40%;
        height: 70% !important;
    }
    .contenido-slider h2 {
        margin-top: 15%;
        font-size: 20px;
    }
    #img_linea {
        width: 250px;
        margin-top: -30px;
        flex-direction: center;
    }

    /*Para los filtros-------------------------------------*/
    
    .input-data,
    .input-data-short {
        font-size: 12px;
        width: 130px;
    }
    /*Inicio Cards pendiente para iopad pro-------------------------------------*/
    .cards {
        justify-content: center;
        flex-wrap: wrap;
        font-size: 13px;
    }
    /*Inicio Cards pendiente para iopad pro-------------------------------------*/
    .container-columns {
        grid-template-columns: 40vw 50vw;
    }
    .container-title{
        margin-top: 150px;
    }
    .title{
        margin-bottom: 5px;
    }
    .text {
        font-size: 16px;
    }
    .filmaker {
        font-size: 18px;
    }
    .locationsDetails,
    .vehiclesDetails {
        padding: 0 15px;
    }
     
    .modal{
        height: 60%;
    }
   
}

@media screen and (max-width:778px) {
    .nav-toggle {
        display: inline-flex;
    }
    .logo_imagen {
        max-width: 100%;
        height: 50px;
        padding: 0;
    }
    .nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .nav-menu {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(16, 14, 29, 1);
        top: -100vh;
        text-align: center;
        flex-direction: column;
        padding: 0px;
    }
    .nav-menu-list {
        line-height: 50px;
        padding: 0px;
    }
    .nav-menu-link {
        font-size: 20px;
        color: white;
    }
    .nav-menu-link:hover {
        background: linear-gradient(95.41deg, #9B3CB7 9.04%, #FF3060 115.84%);
        box-shadow: 0px 0px 9px 3px #9F3CB4;
        transition: .2s;
        color: white;
    }
    
    /*Para el Silder -------------------------------------*/
    .contenido-slider {
        flex-direction: column-reverse;
    }
    .contenido-slider>div {
        width: 80%;
    }
    .contenido-slider>img {
        display: none;
    }
    /*Para los filtros-------------------------------------*/
    .container-select {
        position: relative;
        z-index: 6;
    }
    #search {
        width: 200px;
    }
    .icon-filter {
        display: inline-flex;
    }
    .input-data-selector {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 8vw;
        display: none;
    }
    .input-selector {
        background-color: white;
        padding: 18px;
    }
    .filter {
        padding: 0;
    }
    .input-data,
    .input-data-short {
        width: 180px;
        font-size: 15px;
    }
    /*Inicio Cards-------------------------------------*/
    .cards {
        justify-content: center;
    }
    .card {
        flex: 0 0 180px;
    }
    .card-img {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .card-img>img {
        width: 180px;
        height: 230px;
        border-radius: 20px 20px 0px 0px;
    }
    .text-card {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        height: 45px;
        padding: auto;
        border-radius: 0px 0px 20px 20px;
    }
    .title-card {
        text-align: center;
    }
    .text-sumary {
        display: none;
    }
    /*Para el modal-------------------------------------*/
    .modal{
        height: 300px;
    }
    .notF {
        font-size:25px;
        left: 32vw;
    }
    /*Inicio info de Películas-------------------------------------*/
    .container-columns {
        grid-template-columns: 90vw;
    }
    .container-title {
        margin: 120px 25px 0;
    }
    
    .container-img {
        margin: 20px auto 0;
    }
    #container-synopsis-show,
    #container-title-show {
        display: block;
    }
    #container-title,
    #container-synopsis {
        display: none;
    }
}


/* esto es pa que cuando gires la pantalla se aprecie el header*/

@media screen and (max-width:778px) and (orientation:landscape) {
    .nav-menu-list {
        margin: 5px 0 0 0;
    }
    .nav-menu {
        overflow: scroll;
        height: calc(100%-100px);
    }
}


/*Fin de medias*/