body {
    margin: 0;
    box-sizing: border-box;
    background: rgb(214, 214, 214);
    font-family: 'Nunito', sans-serif;
}

/* Inicio header ---------------------------------------------------*/

.logo_imagen {
    max-width: 100%;
    height: 50px;
}

.header {
    position: relative;
}

.nav-footer,
.nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.nav-toggle {
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.nav-menu.show {
    top: 100px;
}

.nav-menu-list {
    padding: 0px 50px;
}

.nav-menu-list:last-child {
    padding: 15px 0px 0px 50px;  
    display: flex;
    justify-content: center;
}

.nav-menu-link {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
/*  Inicio de modal -------------------------------------- */
.checkbox {
	opacity: 0;
	position: absolute;
}

.label{
    background-color:rgb(161, 31, 100) ;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 55px;
    border-radius: 50px;
}
.ball{
    position: absolute;
    top:2px;
    left:2px;
    background-color: rgb(240, 236, 236);
    border-radius: 50%;
    height: 25px;
	width: 25px;
}

.fa-moon,
.fa-sun{
    color:rgb(216, 216, 41) ;
    font-size: 20px;
}
.checkbox:checked + .label .ball {
	transform: translateX(25px);
}
/*  Inicio de modal -------------------------------------- */

.modal-container{
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
    top:0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.modal-container.show-modal{
    opacity: 1;
    z-index: 12;
}
.modal{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 58%;
    min-width: 330px;
    height: 70%;
    background: white;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.5em ;
}
.modal-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.modal-text>h2{
    margin:0px;
}
.close{
    position: absolute;
    color:#FF3060;
    font-size:30px;
    cursor:pointer;
    top:10px;
    right:20px;
}

.chart-container {
    position: relative;
    margin: 0;
    width: 50vw;
    min-width: 300px;
}


/* Inicio Codigo para Slider ------------------------------------ */

.contenedor {
    width: 100%;
    overflow: hidden;
}

.slider-contenedor {
    width: 100%;
    display: flex;
}

.contenido-slider {
    width: 100%;
    height: 660px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(1) {
    background: #2c1c42;
    background-image: url("img/fondo1.png");
    background-size: 100% 100%;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    color: #fff;
}

.contenido-slider:nth-child(2) {
    background-image: url("img/fondo2.png");
    background-size: 100% 100%;
    justify-content: space-around;
    background-repeat: no-repeat;
    color: #fff;
}

.contenido-slider:nth-child(3) {
    background-image: url("img/fondo3.png");
    background-size: 100% 100%;
    justify-content: space-around;
    color: #fff;
}

.contenido-slider>img {
    width: 300px;
    display: show;
}

.contenido-slider>div {
    width: 40%;
}

.contenido-slider h1 {
    font-weight: bold;
    font-size: 40px;
}

.contenido-slider h2 {
    text-align: justify;
    line-height: 30px;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}

.contenido-slider a {
    color: #fff;
    background: linear-gradient(95.41deg, #9B3CB7 9.04%, #FF3060 115.84%);
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider a:hover {
    background: linear-gradient(95.41deg, #9B3CB7 9.04%, #FF3060 115.84%);
    box-shadow: 0px 0px 9px 3px #9F3CB4;
    transition: .2s;
    color: white;
}

#text-ghibli {
    color: #FF3060;
}

.text-center {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}

.text-left {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
}

.btn-primary {
    margin-left: 42%;
}

.line {
    margin-left: 0;
}

/*Inicio Codigo Mode dark --------------------------------*/

.toggle {
    color: #fff;
}

.ml-2 {
    margin-left: 0.4em;
}

/* Inicio filtros --------------------------------------*/

.container-select {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    height: 60px;
    width: 80vw;
    margin: 4vh auto;
}

#search {
    width: 15vw;
    padding-left: 25px
}

.icon-search {
    position: absolute;
    width: 5vw;
    color: gray;
    top: 4px;
}

.input-data-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.input-data-selector.show-filter{
    display: block;
}
.input-selector {
    position: relative;
}

.input-data,
.input-data-short {
    font-size: 15px;
    border-width: 0px 0px 3px 0px;
    border-color: #FF3060;
    outline: none;
    padding: 4px 0;
}

.input-data-short {
    width: 150px;
}

.icon-filter {
    display: none;
    color: gray;
    font-size: 18px;
    cursor: pointer;
}

/*Inicio Codigo para Cards -----------------------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.card {
    flex: 0 0 370px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card:hover {
    cursor: pointer;
    display: block;
    transform: scale(1.01);
}

.card-contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
}

.card-img {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 230px;
}

.card-img>img {
    width: 150px;
    height: 230px;
    border-radius: 20px 0px 0px 20px;
}

.text-card {
    grid-column: 2 / 4;
    background: #fff;
    padding: 1em;
    grid-row: 1 / 3;
    border-radius: 0px 20px 20px 0px;
}

.text-sumary {
    font-size: 13px;
    color: #24193B;
}

.maker {
    color: gray;
    margin: 6px 0 0 0;
}

.title-card {
    font-style: 'bold';
    font-weight: 800px;
    font-size: 16px;
    color: #24193B;
    margin-top: 10px;
}

.year-card,
.score-card {
    width: 50px;
    padding: 2px;
    position: absolute;
    color: #fff;
    font-style: 'bold';
    font-weight: 800px;
    text-align: center;
}

.year-card {
    background-color: #1BC47D;
    top: 15px;
    left: 0px;
    border-radius: 0px 8px 8px 0px;
}

.score-card {
    background-color: #FF3060;
    bottom: 15px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px 0 0 8px;
}

.fa-star {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 3px;
}

/*  Inicio de Not found -------------------------------------- */

.ghibli-notFound{
    position: relative;
    text-align: center;
    color: #fff;
    display: none;
}
.img-not-found{
    border-radius: 10px;
}

.notF{
    position: absolute;
    top: 50px;
    left: 500px;
}
/*  Inicio de footer -------------------------------------- */

.nav-footer {
    background-color: #090413;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

.nav-menu-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 2vh;
}

.nav-footer-text,
.nav-footer-link {
    padding: 0px 20px;
    color: white;
    font-size: 20px;
}

.nav-footer-text {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 2vh;
}
/*----- MODO DARK -----*/
body.dark{
    background: #292C35;  
}
.container-select.dark {
    background: #45415c;
}

.input-data.dark{
    background-color: #45415c;
    color:white;
}
.input-data-short.dark{
    background-color: #45415c;
    color:white;
}
/* .input-data::placeholder {
    color: white;
}
.icon-search {
    color: white;
} */