body {
    margin: 0;
    box-sizing: border-box;
    background: rgba(227, 227, 227, 1);
    /*#22182f*/
    font-family: 'Nunito', sans-serif;
}

.logo_imagen {
    max-width: 100%;
    height: 50px;
}
/* Inicio header --------------------------------------*/

.header {
    position: relative;
}
.nav-footer,
.nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.nav-toggle {
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav-menu.show {
    top: 84px;
}

.nav-menu-list {
    padding: 0px 50px;
}

.nav-menu-list:last-child {
    padding: 20px 0px 0px 50px;
}

.nav-menu-link {
display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;  
}

.mode-dark {
    font-size: 20px;
    color: #FAB818;
}

.nav-menu-link {
    border-radius: 10px;
}

.nav-menu-link:hover {
    background: linear-gradient(95.41deg, #9B3CB7 9.04%, #FF3060 115.84%);
    box-shadow: 0px 0px 9px 3px #9F3CB4;
    transition: .2s;
}
/* Fin header */
/* Inicio Codigo para Slider -------------------------------------- */

.contenedor {
    width: 100%;
    overflow: hidden;
}

.slider-contenedor {
    width: 100%;
    display: flex;
}

.contenido-slider {
    width: 100%;
    height: 660px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(1) {
    background: #2c1c42;
    background-image: url("img/fondo1.png");
    background-size: 100% 100%;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    color: #fff;
}

.contenido-slider:nth-child(2) {
    background-image: url("img/fondo2.png");
    background-size: 100% 100%;
    justify-content: space-around;
    background-repeat: no-repeat;
    color: #fff;
}

.contenido-slider:nth-child(3) {
    background-image: url("img/fondo3.png");
    background-size: 100% 100%;
    justify-content: space-around;
    color: #fff;
}

.contenido-slider>img {
    width: 300px;
    display: show;
}

.contenido-slider>div {
    width: 40%;
}

.contenido-slider h1 {
    font-weight: bold;
    font-size: 38px;
}

.contenido-slider h2 {
    text-align: justify;
    line-height: 30px;
    color: #FFF;
    font-weight: bold;
    font-size: 30px;
}

.contenido-slider a {
    color: #fff;
    background: linear-gradient(95.41deg, #9B3CB7 9.04%, #FF3060 115.84%);
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

#text-ghibli {
    color: #FF3060;
}

.text-center {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}

.text-left {
    text-align: justify;
    line-height: 30px;
    font-size: 18px;
}

.btn-primary {
    margin-left: 42%;
}

.line {
    margin-left: 0;
}
/*Fin Codigo Slider*/
/*Inicio Codigo Mode dark ---------------------------*/

.toggle {
    color: #fff;
}

.ml-2 {
    margin-left: 0.4em;
}
/*Fin Codigo Mode dark */

/* Inicio buscador*/
.container-select {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    height: 10vh;
    width: 80vw;
    margin: 4vh auto;
}

#search {
    width: 15vw;
    padding-left: 25px
}
.icon-search {
    position: absolute;
    width: 5vw;
    color: gray;
    top: 5px;
}
.input-data-selector {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px; 
}

.input-selector {
    position: relative;
}
.input-data,
.input-data-short {
    width: 13vw;
    font-size: 15px;
    border-width: 0px 0px 4px 0px;
    border-color: #FF3060;
    outline: none;
    padding: 5px 0;
}
.input-data-short {
    width: 9vw;
}
.icon-filter {
    display: none;
    color: gray;
    font-size: 18px;
    cursor: pointer;
}

/*Fin Buscador */

/*Inicio Codigo para Cards*/
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.card {
    flex: 0 0 370px;
    margin: 10px;
    border: 1px solid #ccc;
}

.card-contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-img {
    grid-column: 1 / 2;
    width: 150px;
    height: 210px;
}

.card-img>img {
    width: 150px;
    height: 210px;
}
/*Fin Codigo para Cards*/

/*  Inicio de footer */
.nav-footer{
background-color: #090413;
display: flex;
flex-direction: column;
justify-content: center;
height: fit-content;
}
.nav-menu-footer{
display: flex;
flex-direction: row ;
padding: 0;
margin: 2vh;
}
.nav-footer-text,
.nav-footer-link{
padding: 0px 20px;
color: white;
font-size: 20px;
}
.nav-footer-text {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 2vh;
}
/*  Fin de footer */
/*Inicio de medias--------------------------------------*/

@media screen and (max-width:1024px) {
    .logo_imagen {
        max-width: 100%;
        height: 40px;
    }
    .nav-menu-list {
        padding: 0px 25px;
    }
    .nav-menu-list:last-child {
        padding-left: 25px;
    }
    .nav-menu-link {
        font-size: 18px;
    }
    /*Para el Silder*/
    .contenido-slider>div {
        width: 40%;
        height: 70% !important;
    }
    .contenido-slider h2 {
        margin-top: 15%;
        font-size: 20px;
    }
    #img_linea {
        width: 250px;
        margin-top: -30px;
        flex-direction: center;
    }

    /*Para el buscador*/
    .input-data-selector { 
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
    }
    .input-data,
    .input-data-short {
        font-size: 12px;
    }

    /*Inicio Cards pendiente para iopad pro*/
    .cards {
        justify-content: space-evenly;
        flex-wrap: wrap;
        font-size: 14px;
    }
}

@media screen and (max-width:776px) {
    .nav {
        height: 100px;
    }
    .nav-toggle {
        display: inline-flex;
    }
    .logo_imagen {
        max-width: 100%;
        height: 50px;
    }
    .nav-menu {
        position: absolute;
        width: 100vw;
        top: -100vh;
        transition: all .2;
        text-align: center;
        flex-direction: column;
        background: rgba(31, 25, 53, 0.5);
        backdrop-filter: blur(20px);
    }
    .nav-menu-list {
        padding: 0px;
        line-height: 20px;
    }
    .nav-menu-link {
        font-size: 20px;
        color: white;
    }
    .nav-menu-list:last-child {
        padding: 30px;
    }
    /*Para el Silder*/
    .contenido-slider {
        flex-direction: column-reverse;
    }
    .contenido-slider>div {
        width: 80%;
    }
    .contenido-slider>img {
        display: none;
    }

    /*Para el buscador*/
    .container-select {
        position: relative;
    }

    #search{
        width:200px;
    }
    .icon-filter {
        display: inline-flex;
    }
    .input-data-selector {
        display: flex;
        flex-direction: column;
        position: absolute;
        top:60px;
        right:8vw;
        display: none;
    }

    .input-selector{
        background-color: white;
        padding: 15px;
    }
    .filter{
        padding: 0;
    }

    .input-data,
    .input-data-short {
        width: 180px;
        font-size:15px;
    }

    /*Inicio Cards*/
    .cards {
        justify-content: space-evenly;
    }
    .card {
        flex: 0 0 150px;
    }
    .card-img {
        grid-column: 1 / 3;
    }
    .text-sumary {
        display: none;
    }
    /*Fin Cards*/
}

/* esto es pa que cuando gires la pantalla se aprecie el header*/

@media screen and (max-width:776px) and (orientation:landscape) {
    .nav-menu-list {
        margin: 5px 0 0 0;
    }
    .nav-menu {
        overflow: scroll;
        height: calc(100%-100px);
    }
}
/*Fin de medias*/